*{
    margin: 0px;
    padding:3px;
}
body{
    background-color: whitesmoke;
    background-position: cover;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightslategray;
    color: white;
    font-size: 20px;
}
.header-1 ul{
list-style: none;
display: inline-flex;
}
.header-1 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.header-1 ul li{
    min-width:100px;
}
.sub-header ul{
    list-style: none;
    display: inline-flex;
}
.sub-header ul li{
    min-width: 70px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content img{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    margin: 5px; 
}
.p1{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}
.p2{
    font-size: 20px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bottom1{
    background-color: darkgreen;
    align-items: center;
}
.heading{
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}
.bottom-subheading{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.bottom-subheading a{
     color: whitesmoke
}
.news{
outline-style: double;
outline-color: aliceblue;
width: 300px;
height: 300px;
}
.research{
    outline-style: double;
    outline-color: aliceblue;
    width: 300px;
    height: 300px;
}
.images{
    outline-style: double;
    outline-color: aliceblue;
    width: 300px;
    height: 300px;  
}
.info{
    outline-style: double;
    outline-color: aliceblue;
    width: 300px;
    height: 300px;
}
@media screen and (max-width:700px){
    *{
        margin: 0px;
        padding:2px;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .content img{
        height:200px;
        width: 500px;
    }
    .header-1 ul li{
        max-width:70px;
    }
    .bottom-subheading{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
    }
}